{
  "$schema": "https://json.schemastore.org/swcrc",
  "minify": true,
  "sourceMaps": true,
  "exclude": [".*\\.test\\.ts"],
  "jsc": {
    "minify": {
      "compress": {
        "unused": true
      },
      "mangle": true
    },
    "parser": {
      "syntax": "typescript",
      "tsx": false,
      "dynamicImport": true
    },
    "target": "es5"
  },
  "module": {
    "type": "commonjs",
    // These are defaults.
    "strict": false,
    "strictMode": true,
    "lazy": false,
    "noInterop": false
  }
}
